<nav class="navbar bg-body-white">
  <div class="container">
    <div class="row">
      <p class="vest">investment</p>
      <div class="pxt">
        <img src="../../assets/img/Finance 1.svg" class="imgone" />
        <img src="../../assets/img/next slide.svg" class="secondimg" />
        <img src="../../assets/img/owo odun.svg" class="imgthree" />
      </div>
    </div>
  </div>
</nav>

<div class="mobview">
  <div class="grid-container">
    <div class="grid-child">
      <img src="../../assets/img/mobile finance.svg" />
    </div>
    <div class="grid-child">
      <p>investment</p>
    </div>
  </div>

  <div class="container">
    <img src="../../assets/img/Frame 1000003358.svg" />
  </div>
</div>

<section>
  <div class="contained">
    <div class="grid-containerx">
      <div class="grid-child">
        <img src="../../assets/img/arrow-down.svg" routerLink="/afl-form" />
      </div>
      <div class="grid-child">
        <h6>Personal Details</h6>
        <div><p>Tell us something about you</p></div>
      </div>
    </div>
    <!-- <div class="row mb-5">
            <div class="col">1</div>
            <div class="col">2</div>
        </div> -->
    <form class="form-inline" role="form" [formGroup]="feedbackForm">
      <!--   -->
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-5 col-12">
            <label>Surname <span class="aster">*</span></label>
            <input
              type="text"
              id="Surname"
              class="form-control"
              formControlName="surname"
            />
          </div>
          <div class="col-md-5 col-12">
            <label>Middlename <span class="aster">*</span></label>
            <input
              type="text"
              id="Surname"
              class="form-control"
              formControlName="mname"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-5 col-12">
            <label>First Name <span class="aster">*</span></label>
            <input
              type="text"
              id="Surname"
              class="form-control"
              formControlName="fname"
            />
          </div>
          <div class="col-md-5 col-12">
            <label>Date of Birth<span class="aster">*</span></label>
            <input
              type="date"
              id="Surname"
              class="form-control"
              formControlName="dob"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-10 col-12">
            <label>Residential Address<span class="aster">*</span></label>
            <input
              type="text"
              id="address"
              class="form-control"
              formControlName="raddress"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-5 col-12">
            <label>Occupation <span class="aster">*</span></label>
            <input
              type="text"
              id="Surname"
              class="form-control"
              formControlName="occupation"
            />
          </div>

          <div class="col-md-5 col-12">
            <label>Phone Number<span class="aster">*</span></label>
            <input
              type="tel"
              id="phone_no"
              class="form-control"
              formControlName="phone_no"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-5 col-12">
            <label>Email <span class="aster">*</span></label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
            />
          </div>
          <div class="col-md-5 col-12">
            <label>Bank Verification Number<span class="aster">*</span></label>
            <input
              type="tel"
              id="bvn"
              class="form-control"
              formControlName="bvn"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-5 col-12">
            <label>Identification Type<span class="aster">*</span></label>
            <select class="form-select" formControlName="identification">
              <option selected >Select</option>
              <option value="NIN">NIN</option>
              <option value="Driver's licence">Driver's licence</option>
              <option value="Voters card">Voters card</option>
              <option value="Passport">Passport</option>
            </select>
          </div>

          <div class="col-md-5 col-12">
            <label>Identification Number <span class="aster">*</span></label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="identification_no"
            />
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-10 col-12">
            <label>Upload Passport<span class="aster">*</span></label>
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              formControlName="passport"
            />
          </div>
        </div>

        <div class="container mb-5">
          <h4>joint investment or trust details</h4>
        </div>

        <div class="row">
          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Surname <span class="aster">*</span></label>
              <input
                type="text"
                id="Surname"
                class="form-control"
                formControlName="j_surname"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>Middlename <span class="aster">*</span></label>
              <input
                type="text"
                id="Surname"
                class="form-control"
                formControlName="j_mname"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>First Name <span class="aster">*</span></label>
              <input
                type="text"
                id="Surname"
                class="form-control"
                formControlName="j_fname"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>Date of Birth<span class="aster">*</span></label>
              <input
                type="date"
                id="Surname"
                class="form-control"
                formControlName="j_dob"
              />
            </div>
          </div>


          <div class="row mb-4">
            <div class="col-sm-10 col-12">
              <label>Residential Address<span class="aster">*</span></label>
              <input
                type="text"
                id="address"
                class="form-control"
                formControlName="j_address"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Occupation <span class="aster">*</span></label>
              <input
                type="text"
                id="Surname"
                class="form-control"
                formControlName="j_occupation"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>Phone Number<span class="aster">*</span></label>
              <input
                type="tel"
                id="phone_no"
                class="form-control"
                formControlName="j_phone_no"
              />
            </div>
      </div>
          

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Email <span class="aster">*</span></label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="j_email"
              />
            </div>
            <div class="col-md-5 col-12">
              <label
                >Bank Verification Number <span class="aster">*</span></label
              >
              <input
                type="tel"
                id="email"
                class="form-control"
                formControlName="j_bvn"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Identification Type<span class="aster">*</span></label>
              <select class="form-select" formControlName="j_identification">
                <option selected >Select</option>
                <option value="NIN">NIN</option>
                <option value="Driver's licence">Driver's licence</option>
                <option value="Voters card">Voters card</option>
                <option value="Passport">Passport</option>
              </select>
            </div>

            <div class="col-md-5 col-12">
              <label>Identification Number <span class="aster">*</span></label>
              <input
                type="tel"
                id="email"
                class="form-control"
                formControlName="j_identification_no"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-10 col-12">
              <label>Relationship<span class="aster">*</span></label>
              <input
                type="text"
                class="form-control"
                id="inputGroupFile02"
                formControlName="j_relationship"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12 mb-3">
              <label>Signatory <span class="aster">*</span></label>
              <input
                type="file"
                id="email"
                class="form-control"
                formControlName="j_signatory"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>Upload Passport<span class="aster">*</span></label>
              <input
                type="file"
                class="form-control"
                id="inputGroupFile02"
                formControlName="j_passport"
              />
            </div>
          </div>

          <div class="container mb-4">
            <h4>company details</h4>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Company Name<span class="aster">*</span></label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="c_company_name"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>RC Number<span class="aster">*</span></label>
              <input
                type="tel"
                id="phonE_no"
                class="form-control"
                formControlName="j_rc_no"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-5 col-12">
              <label>Date of Registration<span class="aster">*</span></label>
              <input
                type="date"
                id="name"
                class="form-control"
                formControlName="c_dor"
              />
            </div>
            <div class="col-md-5 col-12">
              <label>BVN<span class="aster">*</span></label>
              <input
              type="tel"
                id="no"
                class="form-control"
                formControlName="c_bvn"
              />
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-10 col-12">
              <label>Residential Address<span class="aster">*</span></label>
              <input
                type="text"
                id="address"
                class="form-control"
                formControlName="c_residential"
              />
            </div>
          </div>

          <div class="container mb-4">
            <h4>investment instruction</h4>
          </div>

          <div class="row mb-4">
            <div class="col-sm-4 col-7">
              <label class="genz"
                >Type of Investment<span class="aster">*</span></label
              >
            </div>
            <div class="col-sm-4 col-5">
              <label>Tenure<span class="aster"> *</span></label>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id=""
                  value="Altron Investment"
                  formControlName="investment"
                  checked
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  Altron Investment
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="60 days"
                  checked
                />
                <p class="form-check-label" for="flexRadioDefault1">60 days</p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id="flexRadioDefault1"
                  formControlName="investment"
                  value="Prestige Education"
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  Prestige Education
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="90 days"
                />
                <p class="form-check-label" for="flexRadioDefault1">90 days</p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id="flexRadioDefault1"
                  formControlName="investment"
                  value="Fixed Income Investment"
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  Fixed Income Investment
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="180 days"
                />
                <p class="form-check-label" for="flexRadioDefault1">180 days</p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id="flexRadioDefault1"
                  formControlName="investment"
                  value="High Income Investment"
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  High Income Investment
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="365 days"
                />
                <p class="form-check-label" for="flexRadioDefault1">365 days</p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id="flexRadioDefault1"
                  formControlName="investment"
                  value="Strong Room"
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  Strong Room
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="36 months"
                />
                <p class="form-check-label" for="flexRadioDefault1">36 months</p>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-sm-4 col-7">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="investment"
                  id="flexRadioDefault1"
                  formControlName="investment"
                  value="Moni Matter"
                />
                <p class="form-check-label" for="flexRadioDefault1">
                  Moni Matter
                </p>
              </div>
            </div>

            <div class="col-sm-4 col-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tenure"
                  id="flexRadioDefault"
                  formControlName="tenure"
                  value="36 months"
                />
                <p class="form-check-label" for="flexRadioDefault1">36 months</p>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-10 col-12">
              <div class="backg move-right">
                <div class="space-me">
                  <button type="button" class="prev btn btn-lg" disabled>
                    Previous
                  </button>
                  <button
                  (click)="onNext()"
                    type="button"
                    class="nxt btn btn-lg"
                  >
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
