 <nav class="navbar bg-body-white ">
    <div class="container">
        <div class="row">
            <p class="vest">investment</p> 
               <div class="pxt">
               <img src="../../assets/img/Finance 1.svg" class="imgone">
                <img src="../../assets/img/next slide.svg" class="secondimg">
               <img src="../../assets/img/owo odun.svg" class="imgthree"> 
           </div> 
            </div>
       </div>      
</nav>

<div class="mobview">
    <div class="grid-container">
        <div class="grid-child">
            <img src="../../assets/img/mobile finance.svg">
        </div>
        <div class="grid-child">
            <p>investment</p>
        </div>
    </div>

    <div class="container">
        <img src="../../assets/img/Frame 1000003358.svg">
    </div>
</div>
 
<section>
    <div class="contained">
        <!-- <div class="row mb-5">
            <div class="col">1</div>
            <div class="col">2</div>
        </div> -->
        <form class="form-inline" role="form">
            <div class="form-group">
         <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Surname <span class="aster">*</span></label>
                <input type="text" id="Surname" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Middlename <span class="aster">*</span></label>
                <input type="text" id="Surname" class="form-control" required />
            </div>
        </div> 

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>First Name <span class="aster">*</span></label>
                <input type="text" id="Surname" class="form-control" required />
            </div>
            <div class="col-md-5 col-12">
                <label>Date of Birth<span class="aster">*</span></label>
                <input type="date" id="Surname" class="form-control" required />
            </div>
        </div> 

        <div class="row mb-4">
          <div class="col-sm-5 col-12">
                <label>Occupation <span class="aster">*</span></label>
                <input type="text" id="Surname" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Postal<span class="aster">*</span></label>
                <input type="text" id="Surname" class="form-control" required />
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-sm-10 col-12">
                <label>Residential Address<span class="aster">*</span></label>
                <input type="text" id="address" class="form-control" required />
            </div>
        </div> 

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Email  <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Phone Number<span class="aster">*</span></label>
                <input type="number" id="phone-no" class="form-control" required />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Bank Verification Number <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col sm-5 col-12">
                <label>Identification Type<span class="aster">*</span></label>
                <select class="form-select"> 
                    <option value="">Select</option>
                    <option value="">NIN</option>
                    <option value="">Driver's licence</option>
                </select>   
            </div>
        </div>

        <div class="row mb-5">
            <div class="col sm-5 col-12">
                <label>Identification Number <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col sm-5 col-12">
                <label>Upload Passport<span class="aster">*</span></label>
                <input type="file" class="form-control" id="inputGroupFile02">
            </div>
        </div>

          <div class="container mb-5">
            <h4>joint investment or trust details</h4>
          </div>
           
          <div class="row">
            <div class="row mb-4">
                <div class="col-sm-5 col-12">
                    <label>Surname <span class="aster">*</span></label>
                    <input type="text" id="Surname" class="form-control" required />
                </div>
                <div class="col-sm-5 col-12">
                    <label>Middlename <span class="aster">*</span></label>
                    <input type="text" id="Surname" class="form-control" required />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-5 col-12">
                    <label>First Name <span class="aster">*</span></label>
                    <input type="text" id="Surname" class="form-control" required />
                </div>
                <div class="col-md-5 col-12">
                    <label>Date of Birth<span class="aster">*</span></label>
                    <input type="date" id="Surname" class="form-control" required />
                </div>
            </div> 

            <div class="row mb-4">
                <div class="col-sm-5 col-12">
                      <label>Occupation <span class="aster">*</span></label>
                      <input type="text" id="Surname" class="form-control" required />
                  </div>
                  <div class="col-sm-5 col-12">
                      <label>Postal<span class="aster">*</span></label>
                      <input type="text" id="Surname" class="form-control" required />
                  </div>
              </div>

              <div class="row mb-4">
                <div class="col-sm-5 col-12">
                      <label>Occupation <span class="aster">*</span></label>
                      <input type="text" id="Surname" class="form-control" required />
                  </div>
                  <div class="col-sm-5 col-12">
                      <label>Postal<span class="aster">*</span></label>
                      <input type="text" id="Surname" class="form-control" required />
                  </div>
              </div>
              
              <div class="row mb-4">
                  <div class="col-sm-10 col-12">
                      <label>Residential Address<span class="aster">*</span></label>
                      <input type="text" id="address" class="form-control" required />
                  </div>
              </div> 

              <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Email  <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Phone Number<span class="aster">*</span></label>
                <input type="number" id="phone-no" class="form-control" required />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Bank Verification Number <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col sm-5 col-12">
                <label>Identification Type<span class="aster">*</span></label>
                <select class="form-select"> 
                    <option value="">Select</option>
                    <option value="">NIN</option>
                    <option value="">Driver's licence</option>
                </select>   
            </div>
        </div>

        <div class="row mb-5">
            <div class="col sm-5 col-12">
                <label>Identification Number <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
            </div>
            <div class="col sm-5 col-12">
                <label>Relationship<span class="aster">*</span></label>
                <input type="text" class="form-control" id="inputGroupFile02">
            </div>
        </div>


        <div class="row mb-4">
            <div class="col sm-5 col-12 mb-3">
                <label>Signatory <span class="aster">*</span></label>
                <input type="file" id="email" class="form-control" required />
            </div>
            <div class="col sm-5 col-12">
                <label>Upload Passport<span class="aster">*</span></label>
                <input type="file" class="form-control" id="inputGroupFile02">
            </div>
        </div>

        <div class="container mb-4">
            <h4>company details</h4>
        </div>
 
        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Company Name<span class="aster">*</span></label>
                <input type="text" id="name" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>RC Number<span class="aster">*</span></label>
                <input type="number" id="phonE-NO" class="form-control" required />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Date of Registration<span class="aster">*</span></label>
                <input type="text" id="name" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Postal address<span class="aster">*</span></label>
                <input type="number" id="phonE-NO" class="form-control" required />
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>Date of Registration<span class="aster">*</span></label>
                <input type="text" id="name" class="form-control" required />
            </div>
            <div class="col-sm-5 col-12">
                <label>Postal address<span class="aster">*</span></label>
                <input type="number" id="phonE-NO" class="form-control" required />
            </div>
        </div>

          <div class="row mb-4">
            <div class="col-sm-10 col-12">
                <label>Residential Address<span class="aster">*</span></label>
                <input type="text" id="address" class="form-control" required />
            </div>
        </div> 

        <div class="row mb-4">
            <div class="col-sm-5 col-12">
                <label>BVN<span class="aster">*</span></label>
                <input type="number" id="no" class="form-control" required />
            </div>
        </div>

           <div class="container mb-4">
            <h4>investment instruction</h4>
           </div>

           <div class="row mb-4">
            <div class="col-sm-4 col-7">
                <label class="genz">Type of Investment<span class="aster">*</span></label>
            </div>
            <div class="col-sm-4 col-5">
                <label>Tenure<span class="aster"> *</span></label>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-4 col-7">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <p class="form-check-label" for="flexRadioDefault1">
                          Altron Investment
                        </p>
                      </div> </div>

                      <div class="col-sm-4 col-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <p class="form-check-label" for="flexRadioDefault1">
                              60 days
                            </p>
                          </div></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4 col-7">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <p class="form-check-label" for="flexRadioDefault1">
                                  Prestige Education
                                </p>
                              </div> </div>
        
                              <div class="col-sm-4 col-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <p class="form-check-label" for="flexRadioDefault1">
                                      90 days
                                    </p>
                                  </div></div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-4 col-7">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <p class="form-check-label" for="flexRadioDefault1">
                                          Fixed Income Investment
                                        </p>
                                      </div> </div>
                
                                      <div class="col-sm-4 col-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <p class="form-check-label" for="flexRadioDefault1">
                                              180 days
                                            </p>
                                          </div></div>
                                    </div>

                                    <div class="row mb-5">
                                        <div class="col-sm-4 col-7">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                <p class="form-check-label" for="flexRadioDefault1">
                                                  High Income Investment
                                                </p>
                                              </div> </div>
                        
                                              <div class="col-sm-4 col-5">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                    <p class="form-check-label" for="flexRadioDefault1">
                                                      365 days
                                                    </p>
                                                  </div></div>
                                            </div>

                                        <div class="backg">
                                            <div class="row">
                                                <div class="col">
                                                   <input type="button" class="prev" value="Previous">
                                                </div>
                                                <div class="col">
                                                    <input type="button" routerLink="/afl-two" class="nxt" value="Next">
                                                </div>
                                            </div>
                                        </div>    
 

          </div>
        </div>
        </form>
    </div>
</section>







