.navbar {
    width:745px;
    height:177px;
    box-shadow: 0px 12px 22px 0px #0000000A;
    border-radius: 2px 2px 20px 20px;
    left:270px;
    position: relative;
    margin-bottom: 30px;
}

.vest {
    text-transform: capitalize;
    color:#0800A5;
    font-weight: 700;
    font-size: 24px;
    margin-left:240px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Inter', sans-serif;

}

.pxt {
    display:flex;
    flex-direction: row;   
}

.imgone {    
}

.secondimg {
    margin-left: 60px;
}

.imgthree {
    margin-top:-25px;
}

.mobview {
    display:none;
}

.contained {
    padding-left:200px;   
}

.grid-containerx {
    display: grid;
    grid-template-columns: 4rem 4rem;
    left:100px;
}



.grid-containerx .grid-child h6  {
    white-space: nowrap;
    
}

.grid-containerx .grid-child div {
    white-space: nowrap;
    color:gray;
}


label {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

span.aster {
    color:red;
}

.form-inline .form-group {
    padding:25px;       
}


div.container h4 {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    }

    div.contain h5 {
    line-height: 3.0;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    }


    .alltc {
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    

}

.backg {
    background: #F9FAFB;
    padding: 10px 10px;
    
    
    
    
    
    
    
}

.prev {
    background: #fff;
    color:#0800A5;
    border-radius:6px;
    border:none;
    padding:9px 17px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 1px 2px 0px #0000000D;
    font-family: 'Inter', sans-serif;

}


.nxt {
  background: #0800A5;
  color:#fff;
  border-radius: 6px;
  padding:7px 20px;
  border:none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  left:120px;
}

.prev:hover {
    background: #0800A5;
    color:#fff;
}

.nxt:hover {
    color:blue;
    background: yellow;
}


@media (max-width:500px) {

    .navbar {
        display:none;
    }

    .vest {
        display:none;
    }

    .pxt {
        display:none;
        
    }



    .mobview {
        display:block;
        padding: 20px;
    }

    div.grid-containerx {
        display: none;
    }

     .grid-container {
        display: grid;
        grid-template-columns: 5rem 5rem;
        // grid-gap:-40px;
     }

     .grid-container .grid-child p {
         color:#0800A5;
         font-size: 18px;
         text-transform: capitalize;
         font-weight: 700;
         font-family: 'Nunito Sans', sans-serif;
     }

     div.container img {
        width:93%;
     }

    .contained {
        padding-left:2px;
        flex-direction: row;   
    }

    div.container h4 {
        font-size: 18px;
        white-space: nowrap;
        }

        div.contain h5 {
            font-size: 18px;
            line-height: 1.5;
        }
    

        .backg {
            
            width:350px;
        }
}