<nav class="navbar bg-body-white ">
    <div class="container">
        <div class="row">
            <p class="vest">investment</p> 
               <div class="pxt">
               <img src="../../assets/img/Finance 1.svg" class="imgone">
                <img src="../../assets/img/Frame 33666.svg" class="secondimg">
               <img src="../../assets/img/owo odun.svg" class="imgthree"> 
           </div> 
            </div>
       </div>      
</nav>

<div class="mobview">
    <div class="grid-container">
        <div class="grid-child">
            <img src="../../assets/img/arrow-down.svg">
        </div>
        <div class="grid-child">
            <p>investment</p>
        </div>
    </div>

    <div class="container">
        <img src="../../assets/img/mob scrn2.svg" routerLink="/afl-form">
    </div>
</div>

<section>
    <div class="contained">
        <div class="grid-containerx">
            <div class="grid-child">
                <img src="../../assets/img/arrow-down.svg" routerLink="/afl-form">
            </div>
            <div class="grid-child">
                <h6> Growth Investment</h6>
                <div><p>Tell us something about you</p></div>
                
            </div>
        </div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="row mb-4">
                    <div class="col-sm-5 col-12">
                        <label>Investment Amount<span class="aster">*</span></label>
                        <input type="text" id="Surname" class="form-control" required />
                    </div>
                    <div class="col-sm-5 col-12">
                        <label>Payment Amount <span class="aster">*</span></label>
                        <input type="text" id="Surname" class="form-control" required />
                    </div>
                </div> 

                <div class="row mb-5">
                    <div class="col-sm-5 col-12">
                        <label>Payment<span class="aster"> *</span></label>
                        <select class="form-select">
                            <option value="">Select</option>
                            <option value="">Select</option>
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-sm-5 col-12">
                        <label>Option<span class="aster">*</span></label>
                        <select class="form-select">
                            <option value="">Select</option>
                            <option value="">Select</option>
                            <option value="">Select</option>
                        </select>
                    </div>
                </div> 

                <div class="container mb-5">
                    <h4>bank details</h4>
                  </div>

                <div class="row mb-4">
                    <div class="col-sm-5 col-12">
                <label>Account Name <span class="aster">*</span></label>
                <input type="text" id="email" class="form-control" required />
                  </div>
                    <div class="col-sm-5 col-12">
                <label>Bank Name<span class="aster">*</span></label>
                <input type="text" id="name" class="form-control" required>
                </div>
                </div>  

                <div class="row mb-4">
                    <div class="col-sm-5 col-12">
                <label>Account Number <span class="aster">*</span></label>
                <input type="num" id="phone-no" class="form-control" required />
                  </div>
                 </div>

                 <div class="contain">
                    <h5> Kindly indicate your preferred means of certificate</h5>
                 </div>

                 <div class="row mt-2 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Pick from our office
                        </label>
                      </div>
                 </div>

                 <div class="row mb-5" >
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Post/Email
                        </label>
                      </div>
                 </div>

                 <div class="container mb-3">
                   <h4> beneficiaries 1 (next of kin)</h4>
                 </div>

                 <div class="row mb-3">
                    <div class="col-sm-5 col-12">
                        <label>Name<span class="aster"> *</span></label>
                        <input type="text" id="name" class="form-control" required />
                    </div>
                    <div class="col-sm-5 col-12">
                        <label>Phone Number<span class="aster"> *</span></label>
                        <input type="no" id="phone-no" class="form-control" required />
                    </div>
                 </div>

                 <div class="row mb-4">
                    <div class="col-sm-10 col-12">
                        <label>Residential Address<span class="aster">*</span></label>
                        <input type="text" id="address" class="form-control" required />
                    </div>
                </div> 

                <div class="row mb-5">
                    <div class="col-sm-5 col-12">
                        <label>Percentage (%)<span class="aster"> *</span></label>
                        <input type="percentage" id="percentage" class="form-control" required />
                    </div>
                    </div>

                    <div class="container mb-3">
                        <h4> beneficiaries 2 (next of kin)</h4>
                      </div>
     
                      <div class="row mb-3">
                         <div class="col-sm-5 col-12">
                             <label>Name<span class="aster"> *</span></label>
                             <input type="text" id="name" class="form-control" required />
                         </div>
                         <div class="col-sm-5 col-12">
                             <label>Phone Number<span class="aster"> *</span></label>
                             <input type="no" id="phone-no" class="form-control" required />
                         </div>
                      </div>
     
                      <div class="row mb-4">
                         <div class="col-sm-10 col-12">
                             <label>Residential Address<span class="aster">*</span></label>
                             <input type="text" id="address" class="form-control" required />
                         </div>
                     </div> 
     
                     <div class="row mb-5">
                         <div class="col-sm-5 col-12">
                             <label>Percentage (%)<span class="aster"> *</span></label>
                             <input type="percentage" id="percentage" class="form-control" required />
                         </div>
                         </div>

                         <div class="container mb-3">
                            <h4> beneficiaries 3 (next of kin)</h4>
                          </div>
         
                          <div class="row mb-3">
                             <div class="col-sm-5 col-12">
                                 <label>Name<span class="aster"> *</span></label>
                                 <input type="text" id="name" class="form-control" required />
                             </div>
                             <div class="col-sm-5 col-12">
                                 <label>Phone Number<span class="aster"> *</span></label>
                                 <input type="no" id="phone-no" class="form-control" required />
                             </div>
                          </div>
         
                          <div class="row mb-4">
                             <div class="col-sm-10 col-12">
                                 <label>Residential Address<span class="aster">*</span></label>
                                 <input type="text" id="address" class="form-control" required />
                             </div>
                         </div> 
         
                         <div class="row mb-3">
                             <div class="col-sm-5 col-12">
                                 <label>Percentage (%)<span class="aster"> *</span></label>
                                 <input type="percentage" id="percentage" class="form-control" required />
                             </div>
                             </div>

                             <div class="row mb-5">
                                <div class="col-sm-5 col-12 mb-3">
                                    <label>Customer Signature & Date <span class="aster">*</span></label>
                                    <input type="file" class="form-control" id="inputGroupFile02"/>
                                </div>
                                <div class="col-sm-5 col-12">
                                    <label>Authorized Signature & Date<span class="aster">*</span></label>
                                    <input type="file" class="form-control" id="inputGroupFile02">
                                </div>
                            </div>   

                            <div class="container mb-4">
                                <h5>Terms and Condition</h5>
                                </div>
                                 
                                <div class="alltc">
                                <p> 1. Payment of principal before maturity shall be effected on presentation 
                                    of a letter authorizing such payment to be made.</p>
                                 <p> 2. The validity of the certificate/advise shall expire 5 days after maturity date is quoted on it.</p>
                                 <p> 3. A penal charge of 20% will be deducted from the interest earned on
                                     any investment pre-liquidated before its maturity.</p>
                                  <p> 4. All accrued interest will be subject to 10%  withholding tax.</p> 
                                  <p> 5. Principal and accrued interest will be automatically rolled over
                                     7 days after maturity at prevailing rate.</p>     
                                   <p> 6. A minimum of 5 working days notification is required for pre-liquidated of investment.</p> 

                                   <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <p class="form-check-label" for="flexCheckChecked">
                                      I accept the above terms and conditions
                                    </p>
                                  </div>                           
                            </div>

                            <div class="backg">
                                <div class="row">
                                    <div class="col-6">
                                       <input type="button" routerLink="/afl-form" class="prev" value="Previous">
                                    </div>
                                    <div class="col-6">
                                        <input type="button"  class="nxt" value="Submit">
                                    </div>
                                </div>
                            </div>  




        </div>
        </form>
    </div>
</section>